<h4>Blackjack Game Screen</h4>
</br>
<p>Hello <%= session[:player_name] %></p>

Dealer's cards:

<ul>
  <% session[:dealer_cards].each do |card| %>
  <li><%= card.to_s %></li>
  <% end %>
</ul>
<p>
  Dealer has <%= calculate_total(session[:dealer_cards]) %>
</p>
</br>

<%= session[:player_name] %>'s cards:
<ul>
  <% session[:player_cards].each do |card| %>
  <li><%= card.to_s %></li>
  <% end %>
</ul>

<p>

  What would you like to do? <%= session[:player_name] %> has <%= calculate_total(session[:player_cards]) %>
  <% if session[:show_hit_or_stay_buttons] %>

  <form action="/game/player/hit" method="post">
    <input type="submit" class="btn" value="Hit" />
  </form>
  <form action="/game/player/stay" method="post">
    <input type="submit" class="btn" value="Stay" />
  </form>
  <% end %>
</p>
